.loginWrapper {
	display: flex;
	align-items: center;
	height: 100vh;
	justify-content: center;
}

.loginContainer {
	margin-bottom: 10%;
}

.loginFormInput {
	margin: 5px;
	border: 1px solid lightgray;
	border-radius: 5px;
	font-size: 1em;
	line-height: 1.5;
	width: 40vw;
}

@media screen and (max-width: 680px) {
	.create-calendar-wrapper {
		flex-direction: column;
	}

	.create-calendar-wrapper button {
		margin: 5px auto 10px auto;
	}

	.calendar-preview-wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}

	.sign-up-form input {
		width: 80vw;
	}
}
