.calendarItem {
	border-radius: 3px;
	text-align: left;
	padding: 30px;
	margin-bottom: 15px;
	border: 1px solid #ecf0f4;
	background-color: white;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.calendarItem:hover {
	transform: scale(1.006);
	-webkit-box-shadow: 0px 16px 48px -31px rgba(0, 0, 0, 0.36);
	-moz-box-shadow: 0px 16px 48px -31px rgba(0, 0, 0, 0.36);
	box-shadow: 0px 16px 48px -31px rgba(0, 0, 0, 0.36);
}

.calendarListItem {
	list-style: none;
}
