.toolbarIconWrapper {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.toolbarContainer {
	width: 98%;
	padding-top: 15px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #e5eaf0;
}

.buttonDanger {
	background: #ffe3e9;
	color: #f5325c;
	padding: 8px 14px;
	font-size: 14px;
	font-weight: bolder;
	border-radius: 3px;
	box-sizing: border-box;
	cursor: pointer;
	outline: none;
	display: flex;
	justify-items: center;
	align-items: center;
}

.buttonDanger:hover {
	background: #f5325c;
	color: white;
	transition: all 400ms ease;
}

.buttonDefault {
	background: #fff;
	color: #8d99a7;
	padding: 8px 10px;
	font-size: 14px;
	font-weight: bolder;
	margin-right: 10px;
	border-radius: 3px;
	border: 1px solid #e5eaf0;
	cursor: pointer;
	outline: none;
	display: flex;
	justify-items: center;
	align-items: center;
	text-decoration: none;
}

.buttonDefault:hover {
	color: #454f59;
	transition: all 400ms ease;
}
