.cardContainer {
	margin: 0px 15px 20px 15px;
	padding: 10px;
	background: white;
	border-radius: 5px;
	opacity: 1;
	display: inline-block;
	width: 270px;
	height: 400px;
	word-wrap: break-word;
	border: 1px solid lightgrey;
}

.cardHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 10px;
}

.cardHeaderInput {
	font-size: 14px;
	width: 90%;
	resize: none;
	border: none;
	font-weight: bold;
}

.cardAsset {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: #90a8be;
	width: 100%;
	height: 180px;
	background-color: transparent;
	/* border: 1px #e5eaf0 solid; */
	border-radius: 5px;
}

.cardTextWrapper {
	margin-top: 10px;
	height: 30%;
	width: 100%;
}

.cardBodyText {
	font-size: 14px;
	height: 100%;
	width: 99%;
	padding: 5px;
	resize: none;
	border: none;
	outline: none;
	border-radius: 3px;
}

.cardBodyText:hover {
	border: 1px solid #e5eaf0;
}

.cardBodyText:focus {
	border: 1px solid #e5eaf0;
}

.cardImage {
	height: 98%;
	max-width: 100%;
}

.cardIconWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-radius: 3px;
}

.cardIconWrapper:hover {
	background-color: #e5eaf0;
}

.cardIconContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
