.calendarWrapper {
	height: 100vh;
	background-color: #f7fafc;
}

.calendarHeader {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 20px 20px 0 20px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.calendarHeaderInput {
	background-color: transparent;
	border: none;
	font-size: 20px;
	width: auto;
	font-weight: bolder;
	color: #0b0f32;
}

.rowsWrapper {
	white-space: nowrap;
}

.calendarWrapperTitle {
	padding: 10px;
}

.newRowWrapperInput {
	background-color: transparent;
	border: 1px #90a8be dashed;
	border-radius: 5px;
	font-size: 14px;
	color: #90a8be;
	padding: 5px 7px;
	text-align: center;
	margin-left: 15px;
}
