.navWrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
	height: 50px;
	background-color: #fff;
}

.navContainer {
	width: 98%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbarIconContainer {
	background: #fff;
	color: #8d99a7;
	padding: 8px 14px;
	font-size: 14px;
	font-weight: bolder;
	border-radius: 3px;
	border: 1px solid #e5eaf0;
	cursor: pointer;
	outline: none;
	display: flex;
	justify-items: center;
	align-items: center;
	text-decoration: none;
}

.navbarIconContainer:hover {
	color: #454f59;
	transition: all 400ms ease;
}
